
.header{
    height: 80px;
    border-bottom: 1px solid var(--Border-Grey, #EBE8F4);
    background: #FFF;
    box-sizing: border-box;
}
.header-menu{
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
}
.menu-logo{
    display:inline ;
    padding: 25px 149px 26px 80px;
}
.logo{
    text-decoration: none;
    color: #22202E;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
}
.nav-header{
   display: flex;
}
.header-item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-item-list{
    display: flex; 
}
.header-item-list_link{
    color: #726E8D;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    padding-right: 44px;
    text-decoration: none;
}
.icon{
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    padding: 30px 80px 34px;
}
.icon-item1{
    background-image: url(../img/Search.svg);
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
}
.icon-item2{
    background-image: url(../img/Shopping--cart.svg);
    width: 16px;
    height: 16px;
    background-size: 100%;background-repeat: no-repeat;
}
.icon-item3{
    background-image:url(../img/User--avatar.svg) ;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
}
.title{
    color: var(--Dark-Primary, #2A254B);
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 400;
    line-height: 140%;  
    margin-left: 575px;
    margin-top: 80px;
}
.type{
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    margin: 24px 5px;
}
.type1{
    padding: 8px 24px;
    color: #2A254B;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    border: none;
}
.type2 {
    padding: 8px 24px;
    color: #2A254B;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    border: none;
}
span{
    color: var(--Dark-Primary, #2A254B);
    font-family: Open Sans;
    font-size: 14px;
    margin-left: 417px;
    margin-right: 16px;
}
.galery{
    display: inline-block;
    text-decoration: none;
}
.about{
    display: grid;
    grid-template-columns: repeat(4,1f);
    grid-template-rows: 1f 1f 1f 1fr;
    gap: 20px 25px;
    margin: auto;
}
.goods{
    width: 305px;
    height: 462px;
}
.price{
    color: var(--Dark-Primary, #2A254B);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    margin-top: 24px;
}
.btn{
    color: #2A254B;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding: 16px 32px;
    background-color: var(--Light-Grey, #F9F9F9);
    border: none;
}
.btn-first{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}
.info{  
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.img-info{
    background-image: url(../img/sofa.jpg);
    width: 720px;
    height: 521px;
}
.title-second{
    color: var(--Dark-Primary, #2A254B);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 400;
    margin-top: 71px;
    margin-left: 49px;
}

.text-info{
    color: var(--Dark-Primary, #2A254B);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 21px;
    margin-left: 49px;
}
.btn-info{
    background: var(--Dark-Primary, #2A254B);
    color: var(--White, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-left: 49px;
    padding: 16px 32px;
    margin-top: 216px;
}
.footer{
    background: var(--Dark-Primary, #2A254B);
    height: 100%;
    width: 1440px;
}
.menu-footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr;
    grid-template-rows:auto ;
}
.img-footer{
    width: 642px;
    height: 195px;
    margin-top: 60px;
    margin-right: 68px;
    margin-left: 93px;
}
.nav-menu{
    margin-top: 60px;
    margin-left: 82px;
}
.nav-item{
   list-style: none;
}
.menu-item_list1{
    text-decoration: none;
    color: var(--White, #FFF);
     font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    padding-top: 12px;
}
.menu-item_list{
    text-decoration: none;
    color: var(--White, #FFF);
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
}
.nav-item{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}
.line{
    background: 1px solid #4E4D93;
    width: 1277px;
    margin: auto;
    margin-top: 48px;
}
.links{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 24px 80px 25px 80px;
}
.copyright{
    color: var(--White, #FFF);
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
}
.icon-logo1{
    background-image: url(../img/Logo--linkedin\ \(1\).svg);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}
.icon-logo2{
    background-image: url(../img/Logo--facebook\ \(3\).svg);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}
.icon-logo3{
    background-image: url(../img/Logo--instagram\ \(1\).svg);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}
.icon-logo4{
    background-image: url(../img/Logo--skype\ \(1\).svg);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}
.icon-logo5{
    background-image: url(../img/Logo--twitter\ \(1\).svg);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}
.icon-logo6{
    background-image: url(../img/Logo--pinterest\ \(2\).svg);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}
.logo-links{
    display: flex;
    gap: 24px;
}